.home__container {
  margin-top: 9.3vh; }
  @media (max-width: 992px) {
    .home__container {
      margin-top: 6.8xvh; } }
  .home__container .home__container__landing {
    width: 100vw; }
  .home__container .home__container__about {
    position: relative;
    color: #fff;
    padding: 0 5vw;
    margin-top: 50px; }
    .home__container .home__container__about .absolute__title {
      font-family: "Fira Code", monospace;
      font-size: 8em;
      opacity: 0.3;
      -webkit-text-fill-color: #000;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #fff; }
    .home__container .home__container__about .home__container__about__content {
      display: flex;
      align-items: flex-end; }
      .home__container .home__container__about .home__container__about__content .description,
      .home__container .home__container__about .home__container__about__content .icon {
        flex: 1 1 0; }
      .home__container .home__container__about .home__container__about__content .description .title {
        font-size: 1.5em;
        margin-bottom: 20px; }
        .home__container .home__container__about .home__container__about__content .description .title .stroke {
          -webkit-text-fill-color: #000;
          /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #fff;
          font-family: "Roboto", sans-serif; }
      .home__container .home__container__about .home__container__about__content .description p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        line-height: 1.5; }
      .home__container .home__container__about .home__container__about__content .icon {
        position: relative; }
        .home__container .home__container__about .home__container__about__content .icon img {
          width: 70%;
          object-fit: contain;
          display: block;
          margin: 0 auto;
          z-index: 1; }
          .home__container .home__container__about .home__container__about__content .icon img.absolute__icon {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            opacity: 0.5; }
  .home__container .home__container__tokenSale {
    background-size: cover;
    margin: 90px 5vw;
    border-radius: 15px; }
    .home__container .home__container__tokenSale .title h1 {
      font-family: "Fira Code", monospace;
      font-size: 5em;
      opacity: 0.3;
      -webkit-text-fill-color: #000;
      /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #fff;
      text-align: center; }
    .home__container .home__container__tokenSale .content {
      display: flex;
      align-items: center; }
      .home__container .home__container__tokenSale .content .content__video,
      .home__container .home__container__tokenSale .content .content__description {
        color: #fff; }
      .home__container .home__container__tokenSale .content .content__video video {
        width: 30vw;
        object-fit: contain; }
      .home__container .home__container__tokenSale .content .content__description {
        margin-left: 50px;
        font-size: 18px;
        line-height: 1.5;
        font-family: "Roboto", sans-serif; }
        .home__container .home__container__tokenSale .content .content__description .stroke__colored {
          -webkit-text-fill-color: #000;
          /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #3C2184;
          font-size: 2.5em; }
        .home__container .home__container__tokenSale .content .content__description .heading {
          font-size: 3em;
          margin-bottom: 20px; }
        .home__container .home__container__tokenSale .content .content__description ul {
          display: flex;
          margin-top: 30px;
          justify-content: space-between;
          list-style-type: disc;
          margin-bottom: 30px; }
        .home__container .home__container__tokenSale .content .content__description .marketing {
          opacity: 0.4; }

/*# sourceMappingURL=style.css.map */
