// Animation => Glow
@keyframes glow {
  from {
    text-shadow: 0 0 0 #2a2a2a, 0 0 5px #2a2a2a, 0 0 10px #3c2184,
      0 0 20px #3c2184, 0 0 50px #3c2184, 0 0 60px #3c2184, 0 0 70px #3c2184;
  }

  to {
    text-shadow: 0 0 10px rgb(87, 87, 87), 0 0 20px #353535, 0 0 30px #5739a8,
      0 0 50px #5739a8, 0 0 60px #5739a8, 0 0 70px #5739a8, 0 0 80px #5739a8;
  }
}

.home__container {
  margin-top: 70px;
  position: relative;

  // @section => landing
  .home__container__landing {
    width: 100vw;

    @media (max-width: 768px) {
      margin-top: 25px;
      transform: scale(1.2);
    }
  }

  // @section => about
  .home__container__about {
    color: #fff;
    padding: 0 5vw;
    margin-top: 50px;

    .absolute__title {
      font-family: "Fira Code", monospace;
      font-size: 8em;
      opacity: 0.3;
      -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #fff;

      @media (max-width: 768px) {
        font-size: 3em;
        -webkit-text-stroke-width: 2px;
      }
    }

    .title {
      font-family: "Fira Code", monospace;
    }

    .home__container__about__content {
      display: flex;
      align-items: flex-end;

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
      }

      .description,
      .icon {
        flex: 1 1 0;

        @media (max-width: 992px) {
          flex: 1;
        }
      }

      .description {
        .title {
          font-size: 1.5em;
          margin-bottom: 20px;

          .stroke {
            -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #fff;
            font-family: "Roboto", sans-serif;
          }

          @media (max-width: 768px) {
            font-size: 1em;
          }
        }

        p {
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          line-height: 1.6;
          color: #c3c3c3;

          b {
            color: #fff;
            // animation: glow 2s ease-in-out infinite alternate;
          }
        }
      }

      .icon {
        position: relative;

        @media (max-width: 992px) {
          margin-top: 50px;
        }

        @media (max-width: 992px) {
          margin-top: 30px;
        }

        img {
          width: 70%;
          object-fit: contain;
          display: block;
          margin: 0 auto;
          z-index: 1;

          @media (max-width: 768px) {
            width: 80%;
          }

          &.absolute__icon {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
            opacity: 0.5;

            @media (max-width: 992px) {
              right: 50px;
            }

            @media (max-width: 768px) {
              right: 10px;
            }
          }
        }
      }
    }
  }

  // @section => token sale
  .home__container__tokenSale {
    background-size: cover;
    margin: 90px 5vw;
    border-radius: 15px;

    @media (max-width: 768px) {
      margin: 50px 5vw;
    }

    .title {
      h1 {
        font-family: "Fira Code", monospace;
        font-size: 5em;
        opacity: 0.3;
        -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: #fff;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 2.5em;
          -webkit-text-stroke-width: 2px;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;

      @media (max-width: 992px) {
        align-items: flex-start;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .content__video,
      .content__description {
        color: #fff;
      }

      .content__video {
        video {
          width: 30vw;
          object-fit: contain;

          @media (max-width: 768px) {
            width: 80vw;
          }
        }
      }

      .content__description {
        margin-left: 50px;
        font-size: 18px;
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
        color: #c3c3c3;

        b {
          color: #fff;
          // animation: glow 2s ease-in-out infinite alternate;
        }

        @media (max-width: 768px) {
          margin-left: 0;
        }

        .stroke__colored {
          -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #6f48d8;
          font-size: 2.5em;

          @media (max-width: 768px) {
            font-size: 2em;
          }
        }

        .heading {
          font-size: 3em;
          margin-bottom: 20px;

          @media (max-width: 768px) {
            font-size: 2.5em;
          }
        }

        ul {
          display: flex;
          margin-top: 30px;
          list-style-type: disc;
          margin-bottom: 30px;
          flex-wrap: wrap;

          @media (max-width: 768px) {
            margin-left: 35px;
          }

          li {
            margin-right: 50px;
          }
        }

        .marketing {
          opacity: 0.4;
        }
      }
    }
  }

  // @section => roadmap
  .home__container__roadmap {
    color: #fff;
    position: relative;
    padding: 0 5vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 768px) {
      padding: 0;
    }

    .absolute__title {
      position: absolute;
      opacity: 0.1;
      top: 10vh;
      left: 50%;
      font-size: 5em;

      @media (max-width: 768px) {
        font-size: 2em;
        left: 10%;
      }

      h1 {
        -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: #fff;
        font-family: "Fira Code", monospace;

        @media (max-width: 768px) {
          -webkit-text-stroke-width: 2px;
        }
      }
    }

    .roadmap__title {
      font-size: 50px;
      margin-bottom: 40px;
      font-family: "Fira Code", monospace;
      // animation: glow 2s ease-in-out infinite alternate;

      @media (max-width: 768px) {
        font-size: 35px;
        margin-bottom: 20px;
      }
    }

    p {
      font-family: "Roboto", sans-serif;
      font-size: 17px;
      line-height: 1.5;
    }

    .top__description {
      max-width: 50vw;
      margin-bottom: 40px;
      text-align: center;
      opacity: 0.5;
      font-size: 19px;
      line-height: 1.5;

      @media (max-width: 768px) {
        max-width: 80vw;
      }
    }

    .timeline__container {
      .title {
        font-family: "Fira Code", monospace;
        margin-bottom: 20px;
        font-size: 2.5em;

        @media (max-width: 768px) {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      .p {
        color: #adadad;
        line-height: 1.5;

        li {
          margin-bottom: 20px;
          list-style: none;

          b{
            font-size: 19px;
            line-height: 2;
            color: #fff;
          }

          span{
            color: #9361ff;
          }
        }
      }
    }
  }

  // @section => gallery
  .home__container__gallery {
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    width: 100%;
    padding: 0 5vw;

    @media (max-width: 768px) {
      margin-top: 50px;
    }

    .row {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 5px;
      justify-content: center;

      .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 0 5px;

        .image-box {
          width: 100%;
          position: relative;
          margin: auto;
          overflow: hidden;
          vertical-align: middle;
          margin-top: 10px;
        }

        img {
          width: 100%;
          cursor: pointer;
          transition: all 0.3s ease;
          display: block;
          transform: scale(1);

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 992px) {
        .column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%;
        }
      }

      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 768px) {
        .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
        }
      }
    }
  }

  // @section => documents
  .home__container__documents {
    color: #fff;
    margin: 100px 5vw;
    display: flex;
    align-items: flex-start;
    position: relative;

    @media (max-width: 992px) {
      flex-wrap: wrap;
      flex-direction: column;
    }

    @media (max-width: 768px) {
      margin: 50px 5vw;
    }

    .faqs,
    .documents__links {
      flex: 1 1 0;
      font-family: "Roboto", sans-serif;

      @media (max-width: 992px) {
        flex: 1;
      }
    }

    .absolute {
      position: absolute;
      font-size: 15em;
      -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 2px;
      z-index: -1;
      top: 50%;
      -webkit-text-stroke-color: #fff;
      transform: translateY(-50%);
      opacity: 0.1;
    }

    .overlay {
      width: 0;
      height: 0;
    }

    .faqs {
      h1 {
        font-family: "Fira Code", monospace;
        font-size: 4em;

        @media (max-width: 768px) {
          font-size: 2em;
        }
      }

      .faq__description {
        line-height: 1.5;
        color: rgb(153, 153, 153);
        font-size: 18px;
        margin-top: 20px;
      }

      .faqs__container {
        margin-top: 40px;

        .MuiPaper-root {
          background: transparent;
          color: #fff;
        }

        .MuiAccordionSummary-root {
          border-top: 0.2px solid #dedede;
          //   border-bottom: 0.2px solid #dedede;
        }

        .MuiTypography-root {
          font-size: 18px;
          font-weight: 600;
        }

        .MuiAccordionDetails-root {
          .MuiTypography-root {
            font-size: 16px;
            font-weight: 400;
            color: #b9b9b9;
          }
        }

        .MuiAccordionSummary-expandIconWrapper {
          color: #fff;
        }
      }
    }

    .documents__links {
      margin-left: 80px;
      font-size: 18px;
      line-height: 1.5;
      color: #a7a7a7;

      @media (max-width: 992px) {
        margin-left: 0;
        margin-top: 50px;
      }

      h1 {
        font-size: 4em;
        -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #fff;
        font-family: "Fira Code", monospace;

        @media (max-width: 768px) {
          font-size: 2em;
        }
      }

      .MuiButton-root {
        margin-bottom: 20px;
        background: #000;
        border: 0.5px solid #fff;
        color: #fff;
        padding: 0 40px;

        &:hover {
          background: #5308f7;
        }
      }

      img {
        width: 100%;
        border-radius: 15px;
        margin-top: 25px;
        margin-bottom: 20px;

        @media (max-width: 768px) {
          width: 90vw;
        }
      }

      b {
        color: #9361ff;

        &.content__highlight {
          color: #fff;
        }
      }

      .contractAddr {
        a{
          color: #fff;
          text-decoration: none;
        }
        @media (max-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }

  .footer__container {
    color: #fff;
    padding: 0 5vw;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .update {
      font-family: "Fira Code", monospace;
      font-size: 18px;
    }

    ul {
      display: flex;
      list-style-type: none;

      @media (max-width: 768px) {
        margin-top: 20px;
      }

      a {
        color: #fff;
        margin-left: 30px;
        font-size: 30px;
        text-decoration: none;
      }
    }
  }
}
