@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  /* user-select: none; */
  overflow-x: hidden !important;
}
body {
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #000;
  /* background: "#fff"; */
}

.popup-content{
  color: #fff;
  border: none!important;
  padding: 10px;
  border-radius: 16px;
  background: #000!important;
  text-align: center;
  font-family: "Fira Code", monospace;
}

.popup-content h3{
  padding: 15px 0;
}

.popup-content p{
  padding: 15px 0;
  line-height: 1.5;
}

.lightMode {
  background: #fff;
  color: #000;
}